@using EjadaTraineesManagementSystem.Controllers
@using Microsoft.Extensions.Localization
@model EjadaTraineesManagementSystem.Models.Trainee
@inject IStringLocalizer<TraineesController> Localizer

@{
    var pageTitle = (Model == null || Model.TraineeId == 0) ? Localizer["Create"] : Localizer["Edit"];
    ViewData["Title"] = pageTitle;
}

<h1>@pageTitle @Localizer["Trainee"]</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="@(Model?.TraineeId == 0 ? "Create" : "Edit")" method="post" enctype="multipart/form-data">
            @Html.AntiForgeryToken()
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @Html.HiddenFor(m => m.TraineeId)

            <div class="form-group">
                <label asp-for="TraineeName">@Localizer["TraineeName"]</label>
                <input asp-for="TraineeName" class="form-control" />
                <span asp-validation-for="TraineeName" class="text-danger"></span>
            </div>

            
            <div class="form-group">
                <label asp-for="ImageUser">@Localizer["ImageUser"]</label>
                <input type="file" asp-for="ImageUser" class="form-control" />
                <span asp-validation-for="ImageUser" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="StartDate">@Localizer["StartDate"]</label>
                <input asp-for="StartDate" type="date" class="form-control" />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="PhoneNumber">@Localizer["PhoneNumber"]</label>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Major">@Localizer["Major"]</label>
                <input asp-for="Major" class="form-control" />
                <span asp-validation-for="Major" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label>Supervisors</label>
                <select asp-for="SupervisorIds" class="form-control" multiple="multiple"
                        asp-items="@(new SelectList(ViewBag.Supervisors, "Id", "fullName"))">
                </select>
                <span asp-validation-for="SupervisorIds" class="text-danger"></span>
            </div>



            <div class="form-group">
                <label asp-for="Email">@Localizer["Email"]</label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="DepartmentId">@Localizer["DepartmentId"]</label>
                <select asp-for="DepartmentId" class="form-control"
                        asp-items="@(new SelectList(ViewBag.Departments, "DepartmentId", "DepartmentName"))">
                    <option value="">@Localizer["Select Department"]</option>
                </select>
                <span asp-validation-for="DepartmentId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="UniversityId">@Localizer["UniversityId"]</label>
                <select asp-for="UniversityId" class="form-control"
                        asp-items="@(new SelectList(ViewBag.Universities, "UniversityId", "UniversityName"))">
                    <option value="">@Localizer["Select University"]</option>
                </select>
                <span asp-validation-for="UniversityId" class="text-danger"></span>
            </div>

            <div class="form-group mt-4">
                <input type="submit" value="@Localizer["Save"]"
                       class="btn btn-sm w-50 px-3 py-1"
                       style="background-color: #001081; color: white; font-weight: bold;" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Trainees" class="mt-3 d-block" style="color:#001081;">@Localizer["Back to List"]</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
